:root {
  font-family: roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  background-color: #eae6e5;
  overflow: 'hidden';
}
