:root {
  font-family: roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  background-color: #EAE6E5;
  cursor: url('/src/assets/svg/cursor.png'), auto !important;

  a, button, input {
    cursor: url('/src/assets/svg/cursor_active.png'), auto !important;
  }

  overflow: 'hidden';
}